public-hoist-pattern[]=@react-navigation/*
public-hoist-pattern[]=react-native-safe-area-context
public-hoist-pattern[]=react-native-screens
public-hoist-pattern[]=react-native-gesture-handler
public-hoist-pattern[]=react-native-reanimated
public-hoist-pattern[]=react-native-css-interop
